@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Root settings */
:root {
    --bg-color: hsl(217, 61%, 90%);
    --text-color: black; 

    --card-color: white;   
    --head-color: white;
    --img-color: hsl(226, 25%, 17%);
    --toggle-background: hsl(0, 0%, 78%);
    --button-color: white;
    --border-color: black;
}


/* Dark Mode */
.dark{
    --bg-color: linear-gradient(180deg, #040918 0%, #091540 100%);
    --text-color: white;

    --card-color: hsl(226, 25%, 17%);
    --head-color: hsl(225, 23%, 24%);

    --img-color: white;
    --toggle-background: hsl(226, 25%, 17%);
    --button-color: hsl(226, 25%, 17%);
    --border-color: white;
}
/* Universal CSS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: grid;
    font-size: 16px;
    background: var(--bg-color);
    font-family: 'Noto Sans';
    color: var(--text-color);
}

.section{
    padding-block-start: clamp(0.5rem,4vw,1rem);
}
/* Head container */
.head_container{
    max-inline-size: 60rem;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--head-color);
    padding: clamp(0.25rem,4vw,0.5rem);
    border-radius: 0.5rem;
}
.head_container>img{
    /* background-color: var(--img-color); */
    color: var(--img-color);
}
.toggle{
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    background-color: var(--toggle-background);
}

/* Title head */
.head_title{
    max-inline-size:  60rem;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter{
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    background-color: var(--button-color);
    color: var(--text-color);
}

.remove{
    border: 1px solid var(--border-color);
    padding: 0.25rem 0.5rem;
}
/* Extensions */
.extensions{
    width: 100%;
    max-inline-size: 60rem;
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    grid-auto-rows: 1fr;
    gap: 0.5rem;

    padding-block-start: clamp(0.5rem,4vw,1rem);
}

@media (max-width: 480px) {
  .head_title {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .filters {
    width: 100%;
    justify-content: flex-start;
  }
  
  .extensions {
    grid-template-columns: 1fr;
    padding: 4rem;
  }
}

.card{
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    font-weight: 400;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}

.data{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title{
    font-weight: 600;
}
.description{
    font-size: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
}

.bottom{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
}

.state{
    width: 2rem;
    height: 1rem;
    background-color: gray;
    border-radius: 1rem;
    padding: 1px;
    transition: background-color 1s ease;
}

.circle{
    width: 0.9rem;
    height: 0.9rem;
    background-color: white;
    border-radius: 50%;

    transform: translateX(0);
    transition: transform 1s ease;
}

.active{
    transform: translateX(1rem);
}

.act{
    background-color: hsl(3, 77%, 44%);  
}